body {
    background-color:blanchedalmond;
    margin-left: 60px;
    margin-right: 60px;
}
h1 {
    color:brown;
}
h2 {
    color:brown;
}
h3 {
    color:brown;
    font-size: 28px;
    text-align:center;
}
h4 {
    color:brown;
}
h5 {
    color:brown;
}
h6 {
    color:brown;
    font-size: 18px;
    text-align:center;
}
p {
    color:black;
    font-size: 14px;
    text-align:left;   
}
img {
    display:block;
    margin: 0 auto;
}