h3 {
    font-size:36px;
    color:brown;
    text-align:center;

}
h1 {
    font-size:36px;
    text-align:center;
    color:antiquewhite;
}
.bodyPanel {
    background-color:white;
    border:5px inset brown;
    margin-top:1%;
    display:grid;
    grid-template-columns:1fr 1fr;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.footerPanel {
    border:5px outset brown;
    background-color:brown;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:1%;
    margin-top:90%;
}
.navPanel {
    padding-left:2px;
    padding-right:2px;
    padding-top:10px;
    width:100px;
    background-size:contain;
    position:relative;
}
.mapImage {
    border:2px outset brown;
    margin-top:40px;
    width:75%;
    height:auto;
}
.headerPanel {
    border:5px outset brown;
    background-color:brown;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
h6 {
    font-size: 24px;
    color:brown;
    text-align:left;
    margin-bottom:5px;
    margin-top:15px;
}
p {
    font-size:14px;
    color:black;
    text-align:justify;
}
body {
    background-color:antiquewhite;
    margin-left:30px;
    margin-right:30px;
}
img {
    display:block;
    margin-top:25px;
    margin-bottom:15px;
    margin-right:auto;
    width:500px;
    height: 500px;
    border:2px outset brown;
}
.divLine {
    border:1px brown;
    background-color:brown;
    padding-top:1px;
    margin-top:10px;
    margin-bottom:10px;
}
.navLink {
    color:blanchedalmond;
    background-color:brown;
    border:2px outset burlywood;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    text-decoration:none;
    text-align:center;
}
.siteVer {
    color:antiquewhite;
    margin-top:0px;
    margin-bottom:0px;
    text-align:center;
}